@import "./base";

////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media only screen and (max-width: $bp-medium) {
    // display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @media only screen and (max-width: $bp-medium) {
        margin: 0;
      }
    }

    @media only screen and (max-width: $bp-medium) {
      flex: 1;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(1);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: $bp-medium) {
    justify-content: center;
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    padding: 1.5rem 0.5rem;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-left: 2rem;
    fill: currentColor;

    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      margin-bottom: 0.7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

////////////////////////////////////////
// LEGAL TEXT
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

////////////////////////////////////////
// PARAGRAPH
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

////////////////////////////////////////
// Azkar
.azkar {
  padding: 3rem;
}
.ziker {
  position: relative;
  border: 1px solid #cfc7c9;
  padding: 1.5rem;
  padding-bottom: 3rem;
  background-color: #fff;
  border-radius: 1rem;
  font-size: 1.6rem;
  margin-bottom: 4rem;
  &.done {
    background-color: var(--color-grey-dark-1);
    color: #fff;
    & > div {
      color: #fff;
    }
  }
  cursor: pointer;
  &__content {
    line-height: 1.8;
    color: #555;
    font-weight: 600;
    white-space: pre-wrap;
  }
  &__source {
    text-align: left;
    color: #888;
    margin: 0.5rem 0;
  }
  &__count {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 5rem;
    height: 5rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    text-align: center;
    line-height: 5rem;
    color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  &__title {
    font-size: 2rem;
    margin: 2.5rem 0;
    font-weight: bold;
    text-align: center;
    color: var(--color-primary);
  }
}
.scroll-btn {
  display: block;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  background-color: var(--color-grey-light-1);
  z-index: 20;
  cursor: pointer;
  transition: 0.2s;
  @media only screen and (max-width: $bp-medium) {
    background-color: var(--color-grey-dark-1);
  }
  & > svg {
    font-size: 2rem;
    color: var(--color-primary);
  }
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}
